<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092567055062-fig55soatfqvkioljhd469e63uj4athk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092567055062-fig55soatfqvkioljhd469e63uj4athk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092567055062-2fg7qovcjfllvl11fg754lue2amh46mp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKRLeMuBiRluidRV1bNK8G9J83JFFgZCs</string>
	<key>GCM_SENDER_ID</key>
	<string>1092567055062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umbrellageminifirestore.app</string>
	<key>PROJECT_ID</key>
	<string>umbrella-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>umbrella-poc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092567055062:ios:10b31c929f7771bbd92777</string>
</dict>
</plist>